.project-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  .project-card {
    background-color: #182338 !important;
    position: relative;
    box-shadow: none !important;
    color: #ccc !important;
    border: transparent;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 100%;
    transition: all 600ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .project-screenshot-inner {
      width: 100%;
      margin: auto;
    }

    .screenshot {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background-size: cover;
      background-position: center;
      opacity: 0.1;
      transition: all 1s ease-in-out;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      background-color: #081225;
      border: #47b8a5 0.2px solid;
      background-size: 100%;
      transform: scale(1.02);
    }

    .screenshot-hidden {
      opacity: 0;
      pointer-events: none;
    }

    .project-content {
      display: flex;
      flex-direction: column;
      height: 100%;

      .project-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: #fff;
      }

      .project-date {
        text-align: end;
        text-transform: uppercase;
        font-family: 'Outfit', sans-serif;
        letter-spacing: 1px;
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 500;
        pointer-events: none;
      }

      .project-description {
        margin-bottom: 0.5rem;
        color: #fff;
        direction: ltr;
      }

      .project-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: auto;

        .technologies,
        .links {
          display: flex;
          font-family: 'Koulen', sans-serif;
          letter-spacing: 0.1rem;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: 1rem;

          .badge {
            border-radius: 0.2rem;
            font-size: 0.8rem;

            &.technology-badge {
              padding: 0.2rem 0.5rem;
              background-color: #10352f;
              color: #47b8a5;
              border: #327d71 0.3px solid;
              pointer-events: none;
            }

            &.link-badge {
              padding: 0.2rem 0.7rem;
              font-size: 1rem;
              text-decoration: none;
              font-family: 'Outfit', sans-serif;
              font-weight: 500;
              background-color: #81b8ae;
              color: #10352f;
              border: #10352f 0.3px solid;
              cursor: pointer;
              transition: 0.2s all ease-in;

              &:hover {
                background-color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 796px) {
  .project-cards {
    grid-template-columns: repeat(1, 1fr);

    .project-card {
      height: 100%;
      flex-direction: row-reverse;

      &:hover {
        transform: none;
      }

      .project-footer {
        align-items: flex-end;
      }

      .links {
        place-self: flex-end;
        padding: 1rem 0 0.3rem;
      }
    }
  }
}
